/* #prod-details-main-img {
    display: none !important;
} */
@media (max-width: 480px) {
    #prod-details-main-img {
        display: none;
    }
}

@media (min-width: 992px) {
    #filterButton {
        display: none;
    }
}
